@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
  color: #fff;
}

body {
  background-image: url("../img/fondo3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
}

footer {
  align-self: flex-end;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

:root {
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/*--DESDE ACA HEADER--*/
.df-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(174, 30, 12);
  padding: 20px;
  list-style: none;
}
.df-header ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.df-header ul li {
  position: relative;
  margin: 10px;
  padding: 0;
}
.df-header ul li:hover {
  background: #e97d7d;
  padding-right: 20px;
}
.df-header ul li:hover > ul {
  display: block;
}
.df-header ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(174, 30, 12);
}
.df-header ul ul li {
  float: none;
  width: 200px;
}
.df-header ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

.df-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 20px;
}
.df-ul li {
  margin: 20px;
  font-family: "Karla", sans-serif;
  list-style-type: none;
}

.df-nombre {
  color: #fff;
  font-family: "Karla", sans-serif;
  font-weight: 900;
}

.logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p {
  margin: 10px;
}

.w-logo {
  width: 120px;
}

/*--HASTA ACA HEADER--*/
/*--DESDE ACA MAIN--*/
.bg-main {
  min-height: 85vh;
}

.idx-main {
  min-height: 85vh;
}

/*--VIEJO CODIGO LO DEJO POR LAS DUDAS
ES LO QUE ESTA EN HOME.HTML
FUE ANTES DE VER GRID ETC ETC ETC --*/
/*--header del main--*/
.card-index {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-card {
  border-left: #0c0e15 solid 2px;
  border-right: #0c0e15 solid 2px;
  background-color: rgb(127, 195, 255);
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 300px;
}

.border-card {
  border-top: #0c0e15 solid 2px;
  border-left: #0c0e15 solid 2px;
  border-right: #0c0e15 solid 2px;
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 300px;
}

.ap-color1 {
  color: #d2aa82;
  text-decoration: underline;
}

.ap-boton1 {
  font-size: 20px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(91, 63, 58);
  padding: 8px 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: #fff;
}
.ap-boton1:hover {
  background-color: rgb(47, 143, 6);
}

.card-index2 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-index3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bg-card2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #d2aa82;
  border-top: #0c0e15 solid 2px;
  border-left: #0c0e15 solid 2px;
  border-right: #0c0e15 solid 2px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 600px;
  border: #0c0e15 solid 2px;
  box-shadow: 10px 10px 5px 0px #0c0e15;
  -webkit-box-shadow: 10px 10px 5px 0px #0c0e15;
  -moz-box-shadow: 10px 10px 5px 0px #0c0e15;
}

.border-card2 {
  border-top: #0c0e15 solid 2px;
  border-left: #0c0e15 solid 2px;
  border-right: #0c0e15 solid 2px;
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  width: 300px;
  margin-bottom: 20px;
}

.ap-color2 {
  color: #d2aa82;
}

.ap-img1 {
  width: 450px;
  background-color: #fff;
}

/*--HASTA AQUI FUE TODO LO "VIEJO"--*/
.idx-card-index {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.idx-bg-card {
  color: #c9c9c9;
  background-color: rgb(31, 32, 45);
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0c0e15 solid 2px;
  width: 400px;
}

.idx-border-card {
  padding: 15px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 30, 12);
  width: 700px;
  border: #0c0e15 solid 2px;
  box-shadow: 10px 10px 5px 0px #0c0e15;
  -webkit-box-shadow: 10px 10px 5px 0px #0c0e15;
  -moz-box-shadow: 10px 10px 5px 0px #0c0e15;
}

.idx-ap-color1 {
  color: #c9c9c9;
}

.idx-ap-boton1 {
  font-size: 20px;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(91, 63, 58);
  padding: 8px 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: #fff;
}
.idx-ap-boton1:hover {
  background-color: rgb(174, 30, 12);
}

.idx-card-index2 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.idx-card-index3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.idx-bg-card2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #c9c9c9;
  background-color: rgb(31, 32, 45);
  padding: 9px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 600px;
  border: #0c0e15 solid 2px;
  box-shadow: 3px 3px 3px 0px #0c0e15;
  -webkit-box-shadow: 3px 3px 3px 0px #0c0e15;
  -moz-box-shadow: 3px 3px 3px 0px #0c0e15;
}

.padre-idx-border-card2 {
  width: 100%;
}

.idx-border-card2 {
  padding: 9px 10px;
  display: flex;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(35, 28, 28, 0.6666666667);
  border-radius: 50px;
  border: #0c0e15 solid 2px;
  width: 15vw;
}

.ap-2class {
  width: 40vw;
}

.caja-oculta {
  padding: 9px 10px;
  flex-direction: flex;
  justify-content: center;
  display: none;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  border: #0c0e15 solid 2px;
  width: 40vw;
}

.idx-ap-color2 {
  color: #d2aa82;
}

.idx-ap-img1 {
  width: 450px;
  background-color: #fff;
}

/*--FIN DEL INDEX--*7


/*--INICIO DE CURSOS Y NOVEDADES Y SECCIONES --*/
/*--esto es del main de index/home--*/
/*--esto es del main del nosotros--*/
.idx-card-section1 {
  margin: 20px;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: space-evenly;
}

.idx-bg-card22 {
  font-size: 30px;
  color: #fff;
  background-color: rgb(127, 195, 255);
  padding: 50px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #0c0e15 solid 2px;
  width: 500px;
}

.idx-ap-boton2 {
  font-size: 20px;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(174, 30, 12);
  padding: 8px 10px;
  margin: 10px;
  border-radius: 15px;
  border-color: #fff;
}
.idx-ap-boton2:hover {
  background-color: rgb(47, 143, 6);
}

.idx-card-index4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: space-evenly;
}

.idx-ap-img2 {
  width: 400px;
  background-color: #fff;
}

.bg-container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.bg-container h2 {
  padding: 20px;
  font-weight: bold;
  color: rgb(174, 30, 12);
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 3px 3px 0px #0c0e15;
}
.bg-container .cursos div {
  display: flex;
  background-color: #c9c9c9;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: #0c0e15 solid 2px;
  box-shadow: 3px 3px 3px 0px #0c0e15;
  -webkit-box-shadow: 3px 3px 3px 0px #0c0e15;
  -moz-box-shadow: 3px 3px 3px 0px #0c0e15;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 5px;
}

.cursos {
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.cursos div img {
  width: 300px;
  height: 300px;
  margin: 15px;
  border-radius: 15px;
}
.cursos div p {
  text-align: center;
  color: #303030;
  font-weight: bold;
  font-size: 15px;
}
.cursos div a {
  font-weight: lighter;
  padding: 10px;
  margin-top: 20px;
  border-radius: 30px;
  border: #071aa9 solid 2px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(174, 30, 12);
  text-decoration: none;
}
.cursos div a:hover {
  background-color: rgb(47, 143, 6);
}

.style-esp {
  color: rgb(91, 63, 58);
  font-weight: bold;
}

/*--INICIO CURSOS--*/
.df-main-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.df-cursos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px;
  box-shadow: 10px 15px 24px -4px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 10px 15px 24px -4px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 10px 15px 24px -4px rgba(0, 0, 0, 0.57);
  color: #041441;
}

.w-img-cursos {
  width: 50%;
  margin: 10px;
  padding: 10px;
}

.m-p-cursos {
  margin: 15px;
  background: rgb(174, 30, 12);
  background: linear-gradient(0deg, rgb(174, 30, 12) 0%, rgb(200, 67, 52) 47%, rgb(209, 134, 127) 100%);
  overflow: hidden;
}

.style-h1 {
  margin-top: 15px;
  color: #041441;
}

.m-p-cursos23 {
  margin: 15px;
  color: #fff;
  background: rgb(5, 26, 246);
  background: radial-gradient(circle, rgb(5, 26, 246) 0%, rgb(241, 80, 6) 50%, rgb(70, 132, 252) 100%);
  overflow: hidden;
}

/*---manualidades---*/
.contenedorcatalogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contenedorcatalogo .jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.411)), url(../img/descarga.jpeg);
  background-size: cover;
  background-position: center;
  height: 300px;
  color: #fff;
  text-shadow: 1px 1px 5px rgb(174, 30, 12);
  border-radius: 0;
  margin-bottom: 20px;
}
.contenedorcatalogo .jumbotron .jumbotitle {
  text-align: center;
  text-transform: capitalize;
  font-style: oblique;
  font-size: 24px;
  margin-top: 30px;
}
.contenedorcatalogo .jumbotron .jumbodescript {
  text-align: center;
  font-size: 16px;
  padding: 20px;
}

.container-fluid {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.container-fluid .contenedorequipo {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.container-fluid .contenedorequipo figure {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px 2px;
  cursor: pointer;
  margin: 0;
}
.container-fluid .contenedorequipo figure img {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
}
.container-fluid .contenedorequipo figure .descripcioncapa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.container-fluid .contenedorequipo figure .descripcioncapa h3 {
  color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  text-shadow: 0 0 7px #dc4040;
}
.container-fluid .contenedorequipo figure .descripcioncapa .textdes p {
  color: #fff;
  font-size: 14px;
  width: 100%;
  max-width: 270px;
  text-align: inherit;
  margin: auto;
  text-shadow: 0 0 5px black;
}
.container-fluid .contenedorequipo figure .descripcioncapa .textdes p:first-of-type {
  text-transform: capitalize;
  font-size: 20px;
  text-shadow: 0 0 5px rgb(43, 255, 0);
}
.container-fluid .contenedorequipo figure:hover > .descripcioncapa {
  opacity: 1;
  visibility: visible;
}
.container-fluid .contenedorequipo figure:hover > .descripcioncapa h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}
.container-fluid .contenedorequipo figure:hover > img {
  transform: scale(1.3);
}

/*-- LO NUEVO CAMBIANDO LO ANTERIOR--*/
.grid2 {
  display: grid;
  grid-template-areas: "menub productos productos" "menub servicios servicios";
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.menu {
  grid-area: menub;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.productos {
  grid-area: productos;
  display: flex;
  flex-direction: column;
}

.servicios {
  grid-area: servicios;
}

/*--AQUI COMIENZA RELACIONES--*/
.grid {
  display: grid;
  grid-template-areas: "header header header header" "nav productos productos publicidad" "servicios servicios servicios publicidad";
  grid-template-rows: 5% 1fr 2fr 50px;
  grid-template-columns: 20% auto 30%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  height: 100vh;
  margin: 0;
}

.border {
  border: #0c0e15 solid 2px;
}

nav {
  grid-area: nav;
}

section#productos {
  grid-area: productos;
}

section#servicios {
  grid-area: servicios;
}

aside {
  grid-area: publicidad;
}

/*---espiritualidad---*/
#espiritualidad {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 5%;
  grid-gap: 30px;
}
#espiritualidad img {
  width: 100%;
  transition: all 300ms;
  position: relative;
}
#espiritualidad img:hover {
  transform: scale(1.15);
}

#logo {
  width: 25%;
  padding: 10px;
}

/*-esto es mi subtitulo del index con transiciones-*/
.texto {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre {
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.nombre:hover {
  color: #fff;
}
.nombre:hover::before {
  clip-path: polygon(0 0, 88% 0, 91% 100%, 0 100%);
}
.nombre:hover + .seudo {
  color: #fff;
}
.nombre:hover + .seudo::before {
  clip-path: circle(150% at 50% 50%);
  transition: clip-path 1.5s 1.5s;
}

.item {
  position: relative;
  padding-left: 1rem;
  transition: color 0.1s;
  overflow: hidden;
}
.item::before {
  content: "";
  display: block;
  background: rgb(174, 30, 12);
  background: linear-gradient(0deg, rgb(174, 30, 12) 0%, rgb(200, 67, 52) 47%, rgb(209, 134, 127) 100%);
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: var(--clippy);
  transition: clip-path 2s;
}

.seudo {
  font-size: 1.5rem;
  font-weight: 300;
  --clippy: circle(0% at 50% 50%);
}
.seudo::before {
  background: rgb(31, 32, 45);
  background: linear-gradient(90deg, rgb(31, 32, 45) 0%, rgb(9, 9, 121) 30%, rgba(0, 254, 255, 0.7427171552) 100%);
}

.caja-home {
  height: 100px;
  transition: all 2s;
  transition-delay: ease-out;
  overflow: hidden;
}
.caja-home:hover {
  height: 200px;
  width: 200px;
  padding: 10px;
}

/*---espiritualidad*/
/*---espiritualidad--*/
.body-espiri {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: url("../img/fondo.png");
}

.flex-center {
  display: flex;
  justify-content: center;
}

.espirituh1 {
  padding-top: 10px;
  font-size: 50px;
  color: rgb(102, 4, 4);
  transition: all 300ms;
}
.espirituh1:hover {
  transform: scale(1, 1.5);
}

.espirituh2 {
  padding-top: 20px;
  font-size: 35px;
  color: rgba(189, 25, 10, 0.7843137255);
  transition: all 300ms;
}
.espirituh2:hover {
  transform: scale(1.15);
}

/*--titulo en la seccion de productos--*/
.palette-headers {
  margin: 10px 10px 10px;
}
.palette-headers h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font: 700 25px "Comfortaa", sans-serif;
  letter-spacing: 4px;
  color: #041441;
}
.palette-headers h2 {
  color: rgb(86, 85, 85);
  line-height: 1.5;
  width: 50vw;
  margin: 5 5px;
  font-size: 20px;
}

/*--desde aqui viene la seccion servicios con tarjetas flexs--*/
.margin-idex {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body-index {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 10px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.5s;
}
.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(102, 4, 4);
  padding: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.card .back .link {
  border-top: solid 1px #fff;
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}
.card .back .link a {
  color: #fff;
}
.card .back h3 {
  font-size: 20px;
  margin-top: 15px;
  letter-spacing: 2px;
}
.card .back p {
  letter-spacing: 1px;
}
.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*--desde aqui armo seccion del sub nav
armo lista desplegable en acordeon!--*/
/*contenedor principal*/
.content-menu {
  padding-left: 10px;
  width: 300px;
}
.content-menu button {
  width: 100%;
  font-weight: bold;
  background: linear-gradient(to bottom, #212222, #62676f);
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: left;
}
.content-menu button a {
  display: block;
  font-size: 20px;
  padding: 15px;
  color: #fff;
}
.content-menu button:focus {
  background: rgb(86, 85, 85);
  background: linear-gradient(90deg, rgb(85, 81, 81) 0%, rgb(214, 212, 212) 100%);
}
.content-menu button:focus ul {
  max-height: 500px;
  transition: max-height 1s;
}
.content-menu button p {
  font-size: 20px;
  padding: 15px;
  color: #fff;
}
.content-menu button ul {
  max-height: 0;
  transition: max-height 0.25s;
  overflow: hidden;
}
.content-menu li ul li a {
  display: block;
  font-size: 20px;
  color: rgb(86, 85, 85);
  background-color: #fff;
}
.content-menu li ul li a:hover {
  color: rgb(86, 85, 85);
  background-color: #fff;
}
.content-menu li:nth-of-type(1) button {
  border-radius: 0 22px 0 0;
}
.content-menu li:nth-of-type(5) button {
  border-radius: 0 0 0 22px;
}
.content-menu i {
  margin: 0px 8px;
}

/*-- carrousel--*/
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.slider {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate ease-in;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}

/*--FIN CURSOS--*/
/*acordeon*/
/* Aquí definimos las Custom properties */
:root {
  --negro: $color-negro;
  --blanco: $color-blanco;
  --sombra-ppal: $color-gris-claro;
  --sombra-sec: $color-blanco;
  --borde-negro: $color-negro;
  --marcado: $color-celeste;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: $color-gris-claro:;
    --blanco: $color-gris-2;
    --sombra-ppal: $color-negro;
    --sombra-sec: $color-gris;
    --borde-negro: $color-gris;
  }
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

.acordeon {
  width: 90%;
  max-width: 20rem;
  padding: 2rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .bloque {
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .h2 {
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  cursor: pointer;
}

.acordeon .h2:hover {
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: var(--blanco);
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
  box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
}

.acordeon .contenido {
  height: 0;
  padding: 0rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
  height: 4rem;
}

/*-- inicio formulario de contacto de nosotros--*/
.df-main-contacto {
  border-top: 100px;
  padding-top: 95px;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.df-main-contacto h2 {
  padding: 10px;
  font-weight: bold;
  color: #dc4040;
  font-size: 45px;
  text-align: center;
  text-shadow: 3px 3px 3px 0px #0c0e15;
}

.main-form {
  width: 40vw;
  margin: 10px 0;
  background: #c9c9c9;
  background: linear-gradient(179deg, #c3bbbb 0%, #432e2d 80%);
  background: -webkit-linear-gradient(179deg, #c3bbbb 0%, #432e2d 80%);
  background: -moz-linear-gradient(179deg, #c3bbbb 0%, #432e2d 80%);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textarea {
  resize: none;
  height: auto;
  width: 100%;
}

.contenido {
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
  background: #dc4040;
  background: linear-gradient(169deg, #dc4040 0%, #370201 80%);
  background: -webkit-linear-gradient(169deg, #dc4040 0%, #370201 80%);
  background: -moz-linear-gradient(169deg, #dc4040 0%, #370201 80%);
}

.estilo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  text-align: center;
  width: 300px;
  font-weight: bold;
}

.input {
  display: block;
  width: 300px;
  border-radius: 5px;
  font-size: 1rem;
  margin: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  outline: none;
  padding: auto;
  border: 1px solid #c9c9c9;
}

.boton-form {
  outline: none;
  color: #fff;
  border: none;
  background-color: #041441;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}
.boton-form:hover {
  background-color: rgb(127, 195, 255);
}

.formulario-cont {
  margin: 10px 0;
  text-align: center;
}

/*--fin formulario de contacto de nosotros--*/
/*--FIN DE CURSOS Y NOVEDADES--*/
/*--INICIO REGISTRO DE MAIL--*/
/*--FIN REGISTRO DE MAIL--*/
.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}
.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(127, 195, 255);
  cursor: pointer;
  font-weight: lighter;
  border: #071aa9 solid 2px;
  font-size: 15px;
  text-decoration: none;
}

.bg-container2 {
  padding: 100px;
  margin: 50px;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex;
}
.bg-container2 h3 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  text-align: center;
}

/*--FIN REGISTRO DE MAIL--*/
/*--DESDE ACA FOOTER--*/
.bg-footer {
  background-color: rgba(189, 25, 10, 0.7843137255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

/*--footer para eso es esto me quedaron las clases que
reutilice antes estaban en el header los baje al footer--*/
.bg-header1 {
  background-color: #e97d7d;
  padding: 8px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: stretch;
}

.type-nombre {
  font-size: 20px;
  color: #fff;
}
.type-nombre:hover {
  background-color: #e97d7d;
}

.redes a i {
  font-size: 25px;
  text-align: center;
  padding: 1px 8px;
}
.redes a i:hover {
  transform: scale(1.5);
  transition: all 1s ease;
}

.igap:hover {
  color: #dc4040;
}

.fbap:hover {
  color: #041441;
}

.wsap:hover {
  color: rgb(47, 143, 6);
}

/*--HASTA ACA FOOTER--*/
/*--a ver esto--*/
body h1 {
  font-size: 34px;
}
body h3 {
  font-size: 25px;
}
body p {
  font-size: 20px;
}

/*---!!!!!!MEDIA QUERIES!!!!!!!!!!!!!!!!---*/
@media screen and (min-width: 320px) and (max-width: 500px) {
  .df-header {
    flex-direction: column;
  }
  .card-index2 {
    flex-direction: column;
  }
  .ap-img1 {
    width: 200px;
  }
  .bg-card2 {
    width: 100vw;
  }
  .border-card2 {
    width: 100vw;
    font: 400 20px "Comfortaa", sans-serif;
  }
  .border-card2 {
    width: 100vw;
    font: 400 20px "Comfortaa", sans-serif;
  }
  .bg-container {
    flex-direction: column;
    padding-top: 800px;
    margin-top: 100px;
    width: 50vw;
    height: 50vh;
    text-align: center;
    justify-content: center;
  }
  .bg-container h2 {
    font: 600 30px "Comfortaa", sans-serif;
  }
  .bg-container h3 {
    font: 600 20px "Comfortaa", sans-serif;
    text-align: center;
    justify-content: center;
  }
  .bg-container2 {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cursos {
    width: 80vw;
    flex-direction: column;
  }
  .df-main-contacto {
    padding-top: 800px;
    margin-top: 100px;
    flex-direction: column;
    width: 80vw;
  }
  .contenido {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .main-form {
    width: 100vw;
    padding: 0 0 20px 0;
  }
  .card {
    width: 350px;
  }
  .back {
    font: 400 10px "Comfortaa", sans-serif;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "menub" "productos" "servicios";
  }
  .menu {
    width: 100vw;
  }
  .content-menu {
    padding-top: 10px;
    width: 100vw;
  }
  .productos {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  .palette-headers {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0;
  }
  .palette-headers h1 {
    text-transform: uppercase;
    font: 700 20px "Comfortaa", sans-serif;
    letter-spacing: 4px;
    color: #041441;
  }
  .palette-headers h2 {
    color: rgb(86, 85, 85);
    line-height: 1.5;
    width: 100vw;
    margin: 0 5px;
    font: 700 20px "Comfortaa", sans-serif;
  }
  .body-index {
    width: 100vw;
    padding: 0;
  }
  .df-ul {
    flex-direction: column;
    padding: 10px 0;
    margin: 10px 0;
  }
  .df-cursos {
    flex-direction: column;
    text-align: center;
    width: 90vw;
    margin: 15px;
  }
  .w-img-cursos {
    width: 80vw;
    margin-bottom: 10px;
  }
  .idx-ap-boton2 {
    justify-content: center;
  }
  .style-h1 {
    text-align: center;
  }
  .bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 30px;
    width: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
  }
  .type-nombre {
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
  }
  .logo {
    font-size: 20px;
  }
  .w-logo {
    width: 60px;
  }
  .nombre {
    font-size: 2rem;
  }
  .seudo {
    font-size: 1.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header" "nav" "productos" "servicios";
  }
  .m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
  }
  .contenedorpadrecatalogo {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .contenedorpadrecatalogo .art {
    justify-content: center;
    margin-top: 5%;
    display: flex;
    height: 280px;
    width: 280px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .arttitle {
    text-align: center;
    font-size: 18px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .imagescatalogo {
    height: 230px;
    width: 230px;
  }
  .jumbotron {
    height: 400px;
    max-width: 100%;
    margin-top: 50px;
  }
  .jumbotron .jumbodescript {
    font-size: 18px;
  }
  .jumbotron .jumbotitle {
    margin-top: 20%;
  }
  .container-fluid {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
  }
  .container-fluid .contenedorequipo {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
  }
}
/*--desde aqui 1 -*/
@media screen and (min-width: 501px) and (max-width: 800px) {
  .df-header {
    flex-direction: column;
  }
  .card {
    width: 290px;
  }
  .back {
    font: 400 15px "Comfortaa", sans-serif;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "menub" "productos" "servicios";
  }
  .menu {
    width: 80vw;
  }
  .content-menu {
    padding-top: 10px;
    width: 60vw;
    justify-content: center;
    align-items: center;
  }
  .productos {
    width: 100vw;
  }
  .palette-headers {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0;
  }
  .palette-headers h1 {
    text-transform: uppercase;
    font: 700 20px "Comfortaa", sans-serif;
    letter-spacing: 4px;
    color: #041441;
  }
  .palette-headers h2 {
    color: rgb(86, 85, 85);
    line-height: 1.5;
    width: 100vw;
    margin: 0 5px;
    font: 600 15px "Comfortaa", sans-serif;
  }
  .body-index {
    width: 100vw;
    padding: 0;
  }
  .df-ul {
    flex-direction: row;
    padding: 10px 0;
    margin: 10px 0;
  }
  .df-cursos {
    flex-direction: column;
    text-align: center;
    width: 90vw;
    margin: 15px;
  }
  .w-img-cursos {
    width: 60vw;
    margin-bottom: 40px;
  }
  .idx-ap-boton2 {
    justify-content: center;
  }
  .style-h1 {
    text-align: center;
  }
  .bg-container {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: end;
  }
  .bg-container2 {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cursos {
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    align-self: flex-end;
  }
  .type-nombre {
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
  }
  .contenido {
    width: min-content;
  }
  .main-form {
    width: min-content;
    padding: 0 0 20px 0;
  }
  .df-main-contacto {
    padding-top: 800px;
    margin-top: 100px;
    flex-direction: end;
  }
  .logo {
    font-size: 20px;
  }
  .w-logo {
    width: 60px;
  }
  .nombre {
    font-size: 2rem;
  }
  .seudo {
    font-size: 1.5rem;
  }
  .card-index2 {
    flex-direction: column;
  }
  .ap-img1 {
    width: 200px;
  }
  .bg-card2 {
    width: 100vw;
  }
  .border-card2 {
    width: 100vw;
    font: 400 20px "Comfortaa", sans-serif;
  }
  .border-card2 {
    width: 100vw;
    font: 400 20px "Comfortaa", sans-serif;
  }
  .bg-container {
    flex-direction: column;
    padding-top: 800px;
    margin-top: 100px;
    width: 50vw;
    height: 50vh;
    text-align: center;
    justify-content: center;
  }
  .bg-container h2 {
    font: 600 30px "Comfortaa", sans-serif;
  }
  .bg-container h3 {
    font: 600 20px "Comfortaa", sans-serif;
    text-align: center;
    justify-content: center;
  }
  .bg-container2 {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cursos {
    width: 80vw;
    flex-direction: column;
  }
  .df-main-contacto {
    padding-top: 800px;
    margin-top: 100px;
    flex-direction: column;
    width: 80vw;
  }
  .contenido {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .main-form {
    width: 100vw;
    padding: 0 0 20px 0;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header" "nav" "productos" "servicios";
  }
  .m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
  }
  .bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 30px;
    width: 100%;
  }
  .contenedorpadrecatalogo .art {
    height: 320px;
    width: 320px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo {
    height: 320px;
    width: 320px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .arttitle {
    font-size: 20px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .imagescatalogo {
    height: 270px;
    width: 270px;
  }
  .jumbotron {
    height: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .jumbotron .jumbotitle {
    margin-top: 5%;
  }
  .jumbotron .jumbodescript {
    text-align: center;
    font-size: 20px;
    width: 60%;
  }
  .container-fluid {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .container-fluid .contenedorequipo {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/*--desde aqui 1 -*/
@media screen and (min-width: 801px) and (max-width: 1022px) {
  .df-header {
    flex-direction: column;
  }
  .card {
    width: 300px;
  }
  .back {
    font: 400 15px "Comfortaa", sans-serif;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "menub" "productos" "servicios";
  }
  .menu {
    width: 80vw;
  }
  .content-menu {
    padding-top: 10px;
    width: 50vw;
  }
  .productos {
    width: 100vw;
  }
  .palette-headers {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin: 0;
  }
  .palette-headers h1 {
    text-transform: uppercase;
    font: 700 20px "Comfortaa", sans-serif;
    letter-spacing: 4px;
    color: #041441;
  }
  .palette-headers h2 {
    color: rgb(120, 119, 119);
    line-height: 1.5;
    width: 100vw;
    margin: 0 5px;
    font: 700 20px "Comfortaa", sans-serif;
  }
  .body-index {
    width: 100vw;
    padding: 0;
  }
  .df-ul {
    flex-direction: row;
    padding: 10px 0;
    margin: 10px 0;
  }
  .df-cursos {
    flex-direction: column;
    text-align: center;
    width: 90vw;
    margin: 10px;
  }
  .w-img-cursos {
    width: 40vw;
    margin-bottom: 40px;
  }
  .idx-ap-boton2 {
    justify-content: center;
  }
  .style-h1 {
    text-align: center;
  }
  .bg-container {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: end;
  }
  .bg-container2 {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cursos {
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    align-self: flex-end;
  }
  .type-nombre {
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
  }
  .contenido {
    width: min-content;
  }
  .main-form {
    width: min-content;
    padding: 0 0 20px 0;
  }
  .df-main-contacto {
    padding-top: 500px;
    margin-top: 100px;
    flex-direction: end;
  }
  .logo {
    font-size: 20px;
  }
  .w-logo {
    width: 60px;
  }
  .nombre {
    font-size: 2rem;
  }
  .seudo {
    font-size: 1.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header" "nav" "productos" "servicios";
  }
  .m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
  }
}
.contenedorpadrecatalogo {
  margin-top: 30px;
}
.contenedorpadrecatalogo .art {
  margin: 0;
  height: 400px;
  width: 400px;
}
.contenedorpadrecatalogo .art .linkcatalogo {
  height: 350px;
  width: 400px;
}
.contenedorpadrecatalogo .art .linkcatalogo .arttitle {
  text-align: center;
  font-size: 20px;
}
.contenedorpadrecatalogo .art .linkcatalogo .imagescatalogo {
  height: 300px;
  width: 320px;
}

.jumbotron {
  height: 550px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jumbotron .jumbotitle {
  font-size: 36px;
  margin-top: 5%;
  text-align: left;
}
.jumbotron .jumbodescript {
  align-self: center;
  font-size: 26px;
  width: 60%;
}

.container-fluid {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}
.container-fluid .contenedorequipo {
  width: 300px;
  height: auto;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/*--desde aqui 1 -*/
@media screen and (min-width: 1023px) and (max-width: 1800px) {
  .df-header {
    flex-direction: column;
  }
  .card {
    width: 300px;
  }
  .back {
    font: 400 15px "Comfortaa", sans-serif;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: "menub" "productos" "servicios";
  }
  .menu {
    width: 80vw;
  }
  .content-menu {
    padding-top: 10px;
    width: 30vw;
  }
  .productos {
    width: 100vw;
  }
  .palette-headers {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0;
  }
  .palette-headers h1 {
    text-transform: uppercase;
    font: 700 20px "Comfortaa", sans-serif;
    letter-spacing: 4px;
    color: #041441;
  }
  .palette-headers h2 {
    color: rgb(120, 119, 119);
    line-height: 1.5;
    width: 100vw;
    margin: 0 5px;
    font: 700 20px "Comfortaa", sans-serif;
  }
  .body-index {
    width: 100vw;
    padding: 0;
  }
  .df-ul {
    flex-direction: row;
    padding: 10px 0;
    margin: 10px 0;
  }
  .df-cursos {
    flex-direction: column;
    text-align: center;
    width: 100vw;
    margin: 15px;
  }
  .w-img-cursos {
    width: 40vw;
    margin-bottom: 40px;
  }
  .idx-ap-boton2 {
    justify-content: center;
  }
  .style-h1 {
    text-align: center;
  }
  .bg-container {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: end;
  }
  .bg-container2 {
    padding-top: 700px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cursos {
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: 40px;
  }
  .type-nombre {
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
  }
  .contenido {
    width: min-content;
  }
  .main-form {
    width: min-content;
    padding: 0 0 20px 0;
  }
  .df-main-contacto {
    padding-top: 800px;
    margin-top: 100px;
    flex-direction: end;
  }
  .logo {
    font-size: 10px;
  }
  .w-logo {
    width: 60px;
  }
  .nombre {
    font-size: 2rem;
  }
  .seudo {
    font-size: 1.5rem;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header" "nav" "productos" "servicios";
  }
  .m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
  }
  .contenedorpadrecatalogo {
    margin-top: 30px;
  }
  .contenedorpadrecatalogo .art {
    margin: 0;
    height: 400px;
    width: 400px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo {
    height: 350px;
    width: 400px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .arttitle {
    text-align: center;
    font-size: 20px;
  }
  .contenedorpadrecatalogo .art .linkcatalogo .imagescatalogo {
    height: 300px;
    width: 320px;
  }
  .jumbotron {
    height: 550px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .jumbotron .jumbotitle {
    font-size: 36px;
    margin-top: 5%;
    text-align: left;
  }
  .jumbotron .jumbodescript {
    align-self: center;
    font-size: 26px;
    width: 60%;
  }
  .container-fluid {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .container-fluid .contenedorequipo {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
/*--ESPECIAL -*/
@media screen and (min-width: 425px) and (max-width: 850px) {
  .w-img-cursos {
    width: 60vw;
    margin-bottom: 40px;
  }
}
/*--ESPECIAL -*/
@media screen and (min-width: 768px) and (max-width: 827px) {
  .w-img-cursos {
    width: 60vw;
    margin-bottom: 40px;
  }
  .servicios {
    margin-bottom: 40px;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--
sass --watch scss/estilo.scss css/estilo.css
*/

/*# sourceMappingURL=estilo.css.map */
