/*--DESDE ACA MAIN--*/
.bg-main {
	min-height: 85vh;
}

.idx-main {
	min-height: 85vh;
}


/*--VIEJO CODIGO LO DEJO POR LAS DUDAS
ES LO QUE ESTA EN HOME.HTML
FUE ANTES DE VER GRID ETC ETC ETC --*/

/*--header del main--*/

.card-index {
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.bg-card {
	border-left: $border-negro;
	border-right: $border-negro;
	background-color: $color-celeste;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: $pixel-15px;
	border-bottom-right-radius: $pixel-15px;
	width: $pixel-100px*3;
}

.border-card {
	border-top: $border-negro;
	border-left: $border-negro;
	border-right: $border-negro;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-gris-2;
	border-top-left-radius: $pixel-15px;
	border-top-right-radius: $pixel-15px;
	width: $pixel-100px*3;
}

.ap-color1 {
	color: $color-marron-claro;
	text-decoration: underline;
}

.ap-boton1 {
	font-size: $font-10px*2;
	font-weight: 200;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-color: $color-marron;
	padding: 8px 10px;
	margin: $pixel-10px;
	border-radius: $pixel-15px;
	border-color: $color-blanco;

	&:hover {
		background-color: $color-verde;
	}
}

.card-index2 {
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.card-index3 {
	font-family: Arial, Helvetica, sans-serif;
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.bg-card2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: $pixel-10px*2;
	color: $color-marron-claro;
	border-top: $border-negro;
	border-left: $border-negro;
	border-right: $border-negro;
	background-color: $color-negro;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: $pixel-100px*6;
	border: $border-negro;
	box-shadow: $box-shadow3;
	-webkit-box-shadow: $box-shadow3;
	-moz-box-shadow: $box-shadow3;
}

.border-card2 {
	border-top: $border-negro;
	border-left: $border-negro;
	border-right: $border-negro;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-negro;
	border-radius: $pixel-50px;
	width: $pixel-100px*3;
	margin-bottom: $pixel-10px*2;
}

.ap-color2 {
	color: $color-marron-claro;
}

.ap-img1 {
	width: $pixel-100px*4+$pixel-50px;
	background-color: $color-blanco;
}

/*--HASTA AQUI FUE TODO LO "VIEJO"--*/

.idx-card-index {
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.idx-bg-card {
	color: $color-gris-claro;
	background-color: $color-azul;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: $border-negro;
	width: $pixel-100px*4;
}

.idx-border-card {
	padding: 15px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $color-rojo;
	width: $pixel-100px*7;
	border: $border-negro;
	box-shadow: $box-shadow3;
	-webkit-box-shadow: $box-shadow3;
	-moz-box-shadow: $box-shadow3;
}

.idx-ap-color1 {
	color: $color-gris-claro;
}

.idx-ap-boton1 {
	font-size: $font-10px*2;
	font-weight: 200;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	background-color: $color-marron;
	padding: 8px 10px;
	margin: $font-10px;
	border-radius: $pixel-15px;
	border-color: $color-blanco;

	&:hover {
		background-color: $color-rojo;
	}
}

.idx-card-index2 {
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.idx-card-index3 {
	font-family: Arial, Helvetica, sans-serif;
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.idx-bg-card2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: $pixel-10px*2;
	color: $color-gris-claro;
	background-color: $color-azul;
	padding: 9px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width: $pixel-100px*6;
	border: $border-negro;
	box-shadow: $box-shadow2;
	-webkit-box-shadow: $box-shadow2;
	-moz-box-shadow: $box-shadow2;
}

.padre-idx-border-card2 {
	width: 100%;
}

.idx-border-card2 {
	padding: 9px 10px;
	display: flex;
	flex-direction: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #231c1caa;
	border-radius: $pixel-50px;
	border: $border-negro;
	width: 15vw;
}

.ap-2class {
	width: 40vw;
}

.caja-oculta {
	padding: 9px 10px;
	flex-direction: flex;
	justify-content: center;
	display: none;
	align-items: center;
	text-align: center;
	background-color: $color-negro;
	border-radius: $pixel-50px;
	border: $border-negro;
	width: 40vw;
}

.idx-ap-color2 {
	color: $color-marron-claro;
}

.idx-ap-img1 {
	width: $pixel-100px*4+$pixel-50px;
	background-color: $color-blanco;
}


/*--FIN DEL INDEX--*7


/*--INICIO DE CURSOS Y NOVEDADES Y SECCIONES --*/

/*--esto es del main de index/home--*/

/*--esto es del main del nosotros--*/
.idx-card-section1 {
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: flex;
	align-items: center;
	justify-content: space-evenly;
}

.idx-bg-card22 {
	font-size: $font-10px*3;
	color: $color-blanco;
	background-color: $color-celeste;
	padding: $pixel-50px $pixel-50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: $border-negro;
	width: $pixel-100px*5;
}

.idx-ap-boton2 {
	font-size: $font-10px*2;
	font-weight: 200;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: $color-rojo;
	padding: 8px 10px;
	margin: $pixel-10px;
	border-radius: $pixel-15px;
	border-color: $color-blanco;

	&:hover {
		background-color: $color-verde;
	}
}

.idx-card-index4 {
	font-family: Arial, Helvetica, sans-serif;
	margin: $pixel-10px*2;
	display: flex;
	flex-direction: flex;
	align-items: center;
	justify-content: space-evenly;
}

.idx-ap-img2 {
	width: $pixel-100px*4;
	background-color: $color-blanco;
}

.bg-container {
	height: 100vh;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $pixel-10px*2;
	margin: $pixel-10px*2;

	h2 {
		padding: $pixel-10px*2;
		font-weight: bold;
		color: $color-rojo;
		font-size: $pixel-50px;
		text-align: center;
		text-shadow: $box-shadow2;
	}

	.cursos {
		div {
			display: flex;
			background-color: $color-gris-claro;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			border: $border-negro;
			box-shadow: $box-shadow2;
			-webkit-box-shadow: $box-shadow2;
			-moz-box-shadow: $box-shadow2;
			padding-bottom: $pixel-10px*2;
			margin: $pixel-10px;
			border-radius: 5px;
		}
	}
}

.cursos {
	align-items: center;
	display: flex;
	justify-items: center;
	justify-content: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

	div {
		img {
			width: $pixel-100px*3;
			height: $pixel-100px*3;
			margin: $pixel-15px;
			border-radius: $pixel-15px;
		}

		p {
			text-align: center;
			color: $color-gris-2;
			font-weight: bold;
			font-size: $pixel-15px;
		}

		a {
			font-weight: lighter;
			padding: $pixel-10px;
			margin-top: $pixel-10px*2;
			border-radius: $pixel-15px*2;
			border: $border-azul;
			font-size: $font-10px*2;
			color: $color-blanco;
			background-color: $color-rojo;
			text-decoration: none;

			&:hover {
				background-color: $color-verde;
			}
		}
	}
}

.style-esp {
	color: $color-marron;
	font-weight: bold;
}




/*--INICIO CURSOS--*/

.df-main-cursos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.df-cursos {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: $pixel-15px $pixel-15px;
	box-shadow: $box-shadow;
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	color: $color-azul-fuerte;
}


.w-img-cursos {
	width: 50%;
	margin: $pixel-10px;
	padding: $pixel-10px;
}


.m-p-cursos {
	margin: $pixel-15px;
	background: $color-rojo;
	background: $color-gradienterojo;
	overflow: hidden;
}

.style-h1 {
	margin-top: $pixel-15px;
	color: $color-azul-fuerte;

}

.m-p-cursos23 {
	margin: $pixel-15px;
	color: $color-blanco;
	background: $color-azul2;
	background: $color-gradienteazul2;
	overflow: hidden;
}

/*---manualidades---*/


.contenedorcatalogo {
	@include flex-column-center-center;
	flex-wrap: wrap;

	.jumbotron {
		background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.411)), url(../img/descarga.jpeg);
		background-size: cover;
		background-position: center;
		height: $pixel-100px*3;
		color: $color-blanco;
		text-shadow: 1px 1px 5px $color-rojo;
		border-radius: 0;
		margin-bottom: $pixel-10px*2;

		.jumbotitle {
			text-align: center;
			text-transform: capitalize;
			font-style: oblique;
			font-size: 24px;
			margin-top: $pixel-15px*2;
		}

		.jumbodescript {
			text-align: center;
			font-size: $font-15px+$pixel-1px;
			padding: $font-10px*2;
		}
	}
}

.container-fluid {
	max-width: $pixel-100px*3.1;
	@include flex-column-center-center;
	height: auto;

	.contenedorequipo {
		width: 100%;
		height: 100%;
		margin-bottom: $pixel-15px*2;

		figure {
			position: relative;
			max-width: 100%;
			max-height: 100%;
			overflow: hidden;
			box-shadow: 0 0 10px 2px;
			cursor: pointer;
			margin: 0;

			img {
				width: 100%;
				height: 100%;
				transition: all 500ms ease-in-out;
			}

			.descripcioncapa {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.7);
				opacity: 0;
				visibility: hidden;
				text-align: center;

				h3 {
					color: #ffffff;
					font-weight: 400;
					font-size: 15px;
					margin-bottom: 120px;
					transition: all 500ms ease-out;
					margin-top: 30px;
					text-shadow: 0 0 7px $color-rojo-claro;
				}

				.textdes {
					p {
						@include estilodescripensambles;

					}
				}
			}

			&:hover {
				>.descripcioncapa {
					opacity: 1;
					visibility: visible;

					h3 {
						margin-top: 10px;
						margin-bottom: 10px;
						font-size: 15px;
					}
				}

				>img {
					transform: scale(1.3);
				}
			}
		}
	}


}