$breackpoints: (
    ssm: 300px,
    sm: 540px,
    md: 768px,
    lg: 1024px
);

@mixin media-up ($breackpoints) {

    @media screen and (min-width: map-get($breackpoints,
            $breackpoint)) {
        @content;
    }

}

/*--a ver esto--*/
$vista: tablet;
$h1Desktop: 20px;
$parrafoDesktop: 22px;
$h1Mobile: 10px;
$parrafoMobile: 12px;

body {
    @if $vista ==desktop {
        @media only screen and (min-width:1024px) {
            h1 {
                font-size: $h1Desktop;
            }

            h3 {
                font-size: 35px;
            }

            p {
                font-size: $parrafoDesktop;
            }
        }
    }

    @else if $vista ==mobile {
        @media only screen and (max-width:767px) {
            h1 {
                font-size: $h1Mobile;
            }

            h3 {
                font-size: 25px;
            }

            p {
                font-size: $parrafoMobile;
            }
        }
    }

    @else {
        h1 {
            font-size: 34px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }
}


/*---!!!!!!MEDIA QUERIES!!!!!!!!!!!!!!!!---*/

@media screen and (min-width: 320px) and (max-width: 500px) {
    .df-header {
        flex-direction: column;
    }

    .card-index2 {
        flex-direction: column;
    }

    .ap-img1 {
        width: $pixel-100px*2;
    }

    .bg-card2 {
        width: 100vw;
    }

    .border-card2 {
        width: 100vw;
        font: 400 $pixel-10px*2 'Comfortaa', sans-serif;
    }

    .border-card2 {
        width: 100vw;
        font: 400 $pixel-10px*2 'Comfortaa', sans-serif;
    }

    .bg-container {
        flex-direction: column;
        padding-top: $pixel-100px*8;
        margin-top: $pixel-100px;
        width: 50vw;
        height: 50vh;
        text-align: center;
        justify-content: center;

    }

    .bg-container h2 {
        font: 600 $pixel-10px*3 'Comfortaa', sans-serif;

    }

    .bg-container h3 {
        font: 600 $pixel-10px*2 'Comfortaa', sans-serif;
        text-align: center;
        justify-content: center;

    }

    .bg-container2 {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: column;
    }

    .cursos {
        width: 80vw;
        flex-direction: column;
    }

    .df-main-contacto {
        padding-top: $pixel-100px*8;
        margin-top: $pixel-100px;
        flex-direction: column;
        width: 80vw;
    }

    .contenido {
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    .main-form {
        width: 100vw;
        padding: 0 0 $pixel-10px*2 0;
    }

    .card {
        width: $pixel-100px*3+$pixel-50px;
    }

    .back {
        font: 400 $pixel-10px 'Comfortaa', sans-serif;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "menub"
            "productos"
            "servicios";
    }


    .menu {
        width: 100vw;

    }

    .content-menu {
        padding-top: 10px;
        width: 100vw;

    }

    .productos {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .palette-headers {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 0;
    }


    .palette-headers h1 {
        text-transform: uppercase;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
        letter-spacing: 4px;
        color: #041441;

    }

    .palette-headers h2 {
        color: $color-gris;
        line-height: 1.5;
        width: 100vw;
        margin: 0 5px;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
    }

    .body-index {
        width: 100vw;
        padding: 0;
    }

    .df-ul {
        flex-direction: column;
        padding: $pixel-10px 0;
        margin: $pixel-10px 0;
    }

    .df-cursos {
        flex-direction: column;
        text-align: center;
        width: 90vw;
        margin: $pixel-15px;

    }

    .w-img-cursos {
        width: 80vw;
        margin: ($pixel-10px/2);
    }

    .idx-ap-boton2 {
        justify-content: center;
    }

    .style-h1 {
        text-align: center;
    }

    .bg-footer {
        font-size: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-top: $pixel-15px*2;
        width: 100%;
    }

    body{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        flex-wrap: wrap;
    }

    .type-nombre {
        margin: $pixel-10px (
            $pixel-10px/2
        );
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 20px;
}

.w-logo {
    width: $pixel-10px*6;
}

.nombre {
    font-size: 2rem;
}

.seudo {
    font-size: 1.5rem;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header"
        "nav"
        "productos"
        "servicios";
}

.m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
}




.contenedorpadrecatalogo {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .art {
        justify-content: center;
        margin-top: 5%;
        display: flex;
        height: 280px;
        width: 280px;

        .linkcatalogo {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 250px;
            width: 250px;

            .arttitle {
                text-align: center;
                font-size: 18px;
            }

            .imagescatalogo {
                height: 230px;
                width: 230px;
            }

        }
    }


}

.jumbotron {
    height: 400px;
    max-width: 100%;
    margin-top: 50px;
    .jumbodescript {
        font-size: 18px;
    }

    .jumbotitle {
        margin-top: 20%;
    }

}

.container-fluid {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;

    .contenedorequipo {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
    }
}

}


/*--desde aqui 1 -*/
@media screen and (min-width: 501px) and (max-width: 800px) {
    .df-header {
        flex-direction: column;
    }

    .card {
        width: $pixel-100px*2+$pixel-45px*2;
    }

    .back {
        font: 400 $pixel-15px 'Comfortaa', sans-serif;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "menub"
            "productos"
            "servicios";
    }

    .menu {
        width: 80vw;

    }

    .content-menu {
        padding-top: $pixel-10px;
        width: 60vw;
        justify-content: center;
        align-items: center;

    }

    .productos {
        width: 100vw;
    }

    .palette-headers {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 0;
    }


    .palette-headers h1 {
        text-transform: uppercase;
        font: 700 $font-10px*2 'Comfortaa', sans-serif;
        letter-spacing: 4px;
        color: $color-azul-fuerte;

    }

    .palette-headers h2 {
        color: $color-gris;
        line-height: 1.5;
        width: 100vw;
        margin: 0 ($pixel-10px/2);
        font: 600 $font-10px*1.5 'Comfortaa', sans-serif;
    }

    .body-index {
        width: 100vw;
        padding: 0;
    }

    .df-ul {
        flex-direction: row;
        padding: $pixel-10px 0;
        margin: $pixel-10px 0;
    }

    .df-cursos {
        flex-direction: column;
        text-align: center;
        width: 90vw;
        margin: $pixel-15px;
    }

    .w-img-cursos {
        width: 85vw;
        margin: 5px;
    }

    .idx-ap-boton2 {
        justify-content: center;
    }

    .style-h1 {
        text-align: center;
    }

    .bg-container {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: end;
    }

    .bg-container2 {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: column;
    }

    .cursos {
        padding: $pixel-10px;
        margin: $pixel-10px*2;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .bg-footer {
        font-size: ($font-10px/2);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: $pixel-100px*2;
        align-self: flex-end;


    }

    .type-nombre {
        margin: $pixel-10px (
            $pixel-10px/2
        );
    align-items: center;
    justify-content: center;
}

.contenido {
    width: min-content;
}

.main-form {
    width: min-content;
    padding: 0 0 $pixel-10px*2 0;
}


.df-main-contacto {
    padding-top: $pixel-100px*8;
    margin-top: $pixel-100px;
    flex-direction: end;
}

.logo {
    font-size: $font-10px*2;
}

.w-logo {
    width: $pixel-50px+$pixel-10px;
}

.nombre {
    font-size: $font-1rem*2;
}

.seudo {
    font-size: $font-1rem*1.5;
}

.card-index2 {
    flex-direction: column;
}

.ap-img1 {
    width: $pixel-100px*2;
}

.bg-card2 {
    width: 100vw;
}

.border-card2 {
    width: 100vw;
    font: 400 $pixel-10px*2 'Comfortaa', sans-serif;
}

.border-card2 {
    width: 100vw;
    font: 400 $pixel-10px*2 'Comfortaa', sans-serif;
}

.bg-container {
    flex-direction: column;
    padding-top: $pixel-100px*8;
    margin-top: $pixel-100px;
    width: 50vw;
    height: 50vh;
    text-align: center;
    justify-content: center;

}

.bg-container h2 {
    font: 600 $pixel-10px*3 'Comfortaa', sans-serif;

}

.bg-container h3 {
    font: 600 $pixel-10px*2 'Comfortaa', sans-serif;
    text-align: center;
    justify-content: center;

}

.bg-container2 {
    padding-top: $pixel-100px*7;
    margin-top: $pixel-100px;
    flex-direction: column;
}

.cursos {
    width: 80vw;
    flex-direction: column;
}

.df-main-contacto {
    padding-top: $pixel-100px*8;
    margin-top: $pixel-100px;
    flex-direction: column;
    width: 80vw;
}

.contenido {
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 100vw;
    padding: 0 0 $pixel-10px*2 0;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header"
        "nav"
        "productos"
        "servicios";
}

.m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
}
.bg-footer {
    font-size: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-top: $pixel-15px*2;
    width: 100%;
}





.contenedorpadrecatalogo {
    .art {
        height: 320px;
        width: 320px;

        .linkcatalogo {
            height: 320px;
            width: 320px;

            .arttitle {
                font-size: 20px;
            }

            .imagescatalogo {
                height: 270px;
                width: 270px;
            }
        }
    }
}


.jumbotron {
    height: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .jumbotitle {
        margin-top: 5%;
    }

    .jumbodescript {
        text-align: center;
        font-size: 20px;
        width: 60%;
    }
}

.container-fluid {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

    .contenedorequipo {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

}
/*--desde aqui 1 -*/
@media screen and (min-width: 801px) and (max-width: 1022px) {
    .df-header {
        flex-direction: column;
    }

    .card {
        width: $pixel-100px*3;
    }

    .back {
        font: 400 $pixel-15px 'Comfortaa', sans-serif;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "menub"
            "productos"
            "servicios";
    }

    .menu {
        width: 80vw;

    }

    .content-menu {
        padding-top: $pixel-10px;
        width: 50vw;

    }

    .productos {
        width: 100vw;
    }

    .palette-headers {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        margin: 0;
    }


    .palette-headers h1 {
        text-transform: uppercase;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
        letter-spacing: 4px;
        color: #041441;

    }

    .palette-headers h2 {
        color: rgb(120, 119, 119);
        line-height: 1.5;
        width: 100vw;
        margin: 0 5px;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
    }

    .body-index {
        width: 100vw;
        padding: 0;
    }

    .df-ul {
        flex-direction: row;
        padding: $pixel-10px 0;
        margin: $pixel-10px 0;
    }

    .df-cursos {
        flex-direction: column;
        text-align: center;
        width: 90vw;
        margin: $pixel-10px;
    }

    .w-img-cursos {
        width: 85vw;
        margin: ($pixel-10px/2);
    }

    .idx-ap-boton2 {
        justify-content: center;
    }

    .style-h1 {
        text-align: center;
    }

    .bg-container {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: end;
    }

    .bg-container2 {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: column;
    }

    .cursos {
        padding: $pixel-10px;
        margin: $pixel-10px*2;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .bg-footer {
        font-size: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: $pixel-10px*2;
        align-self: flex-end;

    }

    .type-nombre {
        margin: $pixel-10px (
            $pixel-10px/2
        );
    align-items: center;
    justify-content: center;
}

.contenido {
    width: min-content;
}

.main-form {
    width: min-content;
    padding: 0 0 $pixel-10px*2 0;
}


.df-main-contacto {
    padding-top: $pixel-100px*5;
    margin-top: $pixel-100px;
    flex-direction: end;
}

.logo {
    font-size: 20px;
}

.w-logo {
    width: $pixel-10px*6;
}

.nombre {
    font-size: 2rem;
}

.seudo {
    font-size: 1.5rem;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header"
        "nav"
        "productos"
        "servicios";
}

.m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
}

}


.contenedorpadrecatalogo {
    margin-top: 30px;

    .art {
        margin: 0;
        height: 400px;
        width: 400px;

        .linkcatalogo {
            height: 350px;
            width: 400px;

            .arttitle {
                text-align: center;
                font-size: 20px;
            }

            .imagescatalogo {
                height: 300px;
                width: 320px;
            }
        }
    }
}

.jumbotron {
    height: 550px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jumbotitle {
        font-size: 36px;
        margin-top: 5%;
        text-align: left;
    }

    .jumbodescript {
        align-self: center;
        font-size: 26px;
        width: 60%;
    }

}

.container-fluid {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

    .contenedorequipo {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*--desde aqui 1 -*/
@media screen and (min-width: 1023px) and (max-width: 1800px) {
    .df-header {
        flex-direction: column;
    }

    .card {
        width: $pixel-100px*3;
    }

    .back {
        font: 400 $pixel-15px 'Comfortaa', sans-serif;
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, min-content);
        grid-template-areas: "menub"
            "productos"
            "servicios";
    }

    .menu {
        width: 80vw;

    }

    .content-menu {
        padding-top: $pixel-10px;
        width: 30vw;

    }

    .productos {
        width: 100vw;
    }

    .palette-headers {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: 0;
    }


    .palette-headers h1 {
        text-transform: uppercase;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
        letter-spacing: 4px;
        color: #041441;

    }

    .palette-headers h2 {
        color: rgb(120, 119, 119);
        line-height: 1.5;
        width: 100vw;
        margin: 0 5px;
        font: 700 $pixel-10px*2 'Comfortaa', sans-serif;
    }

    .body-index {
        width: 100vw;
        padding: 0;
    }

    .df-ul {
        flex-direction: row;
        padding: $pixel-10px 0;
        margin: $pixel-10px 0;
    }

    .df-cursos {
        flex-direction: column;
        text-align: center;
        width: 100vw;
        margin: $pixel-15px;
    }

    .w-img-cursos {
        width: 85vw;
        margin: ($pixel-10px/2);
    }

    .idx-ap-boton2 {
        justify-content: center;
    }

    .style-h1 {
        text-align: center;
    }

    .bg-container {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: end;
    }

    .bg-container2 {
        padding-top: $pixel-100px*7;
        margin-top: $pixel-100px;
        flex-direction: column;
    }

    .cursos {
        padding: $pixel-10px;
        margin: $pixel-10px*2;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .bg-footer {
        font-size: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
        margin-top: $pixel-10px*4;
    }

    .type-nombre {
        margin: $pixel-10px (
            $pixel-10px/2
        );
    align-items: center;
    justify-content: center;
}

.contenido {
    width: min-content;
}

.main-form {
    width: min-content;
    padding: 0 0 $pixel-10px*2 0;
}


.df-main-contacto {
    padding-top: $pixel-100px*8;
    margin-top: $pixel-100px;
    flex-direction: end;
}

.logo {
    font-size: $pixel-10px*1;
}

.w-logo {
    width: $pixel-10px*6;
}

.nombre {
    font-size: 2rem;
}

.seudo {
    font-size: 1.5rem;
}



.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas: "header"
        "nav"
        "productos"
        "servicios";

}

.m-p-cursos23 {
    font-size: 1.5rem;
    flex-direction: column;
    padding: 20px;
    width: 90vw;
}


.contenedorpadrecatalogo {
    margin-top: 30px;

    .art {
        margin: 0;
        height: 400px;
        width: 400px;

        .linkcatalogo {
            height: 350px;
            width: 400px;

            .arttitle {
                text-align: center;
                font-size: 20px;
            }

            .imagescatalogo {
                height: 300px;
                width: 320px;
            }
        }
    }
}

.jumbotron {
    height: 550px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .jumbotitle {
        font-size: 36px;
        margin-top: 5%;
        text-align: left;
    }

    .jumbodescript {
        align-self: center;
        font-size: 26px;
        width: 60%;
    }

}

.container-fluid {
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

    .contenedorequipo {
        width: 300px;
        height: auto;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
}


}